body {
    margin: 20px auto;
    width: 70%;
    background: linear-gradient(to bottom right, #808080 0%, #02aef1 100%);
}

.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
}

.topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
    backgroung-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #0000ff;
    color: white;
}

.topnav input[type=text]{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.topnav .icon {
    display: none;
}

.profilePic {
    border-radius: 50%;
}

ul, footer ul {
    font-family:'Roboto';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h3 {
    font-size: 2em;
    font-family: 'Roboto';
    font-style: normal;
    float: center;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

