@import "/fonts.css"; /* Roboto_Greeting, Roboto_Title, Roboto_Description */


body {
    margin: 20px auto;
    width: 70%;
    background: linear-gradient(to bottom right, #02aef1 0%, #808080 100%);
}

.topnav {
    overflow: hidden;
    background: linear-gradient(to bottom, #ffffff 0%, #d0cece 100%);
}

.topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
    backgroung-color: #ddd;
    color: #02aef1;
}

.topnav a.active {
    color: #02aef1;
}

.topnav input[type=text]{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.topnav .icon {
    display: none;
}

.profilePic {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
    object-fit: cover;
    padding-top: 60px;
    padding-bottom: 30px;
}
myProjects.computerScience {
    margin: 5px;
    border: 2px solid #ccc;
    float: left;
    width: 180px;
}
myProjects.computerScience:hover {
    border: 2px solid #808080;
}
myProjects.computerScience img {
    width: 100%;
    height: auto;
}
myProjects.computerScience.desc {
    padding: 15px;
    text-align: center;
}

ul, footer ul {
    font-family:"Roboto";
    font-size: 20px;
    padding: 0px;
    list-style: none;
}
ul li, footer ul li {
    display: inline;
    margin-right: 15px;
}
h1 {
    font-family: "Roboto";
    color: #ffffff;
    text-align: center;
    font-size: 30px;
}
h3 {
    font-family: "Roboto";
    text-align: center;
    color: #ddd;
    font-size: 20px;
}
h2 {
    font-size: 15px;
    font-family: "Roboto";
    font-style: normal;
    text-align: center;
    color: #00ff00;
}
h4 {
    font-family: "Roboto";
    font-style: normal;
    text-align: center;
    font-size: 25px;
    color: #ffffff;
p {
    font-family: "Roboto";
    font-size: 10px;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-family: "Roboto";
    font-size: 15px;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

